<!DOCTYPE html>
<html>
  <head>
    <title>ParacticeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
  </head>
  <body>
  <div class="header-menu">
  <header>
    <hgroup>
    </br>
      <li><%= link_to("ABOUT", "/") %></li>
      <% if session[:user_id]%>
      <li><%= link_to("INDEX", "/posts/index") %></li>
      <li><%= link_to("LOGOUT", "/users/logoff") %></li>  
      <li><%= link_to("MYPAGE", "/users/#{@current_user.id}") %></li>
  <button type="button"  data-toggle="modal" data-target="#post">つぶやきを投稿する</button>
  <div class="container text-center">
  <div class="modal fade" id="post" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
        </div>
        <%= form_with model: @post, url: "/posts/create" ,local: true do |form| %>
        <% if @post.errors %>
        <ul>
        <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
        </ul>
        <% end %>
        
        <p>投稿内容</p>
        <p><%= form.text_field :content %></p>
        <p><%= form.file_field :image %></p>
        
        <div class="modal-footer">
          <%= form.submit "投稿" %>
          <button type="button" data-dismiss="modal">閉じる</button>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
      <% else %>
      <li><%= link_to("LOGON", "/users/login") %></li>
      <% end %>
    </hgroup>
  </header>
</br>
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <%- end -%>  
  </div>
</br>
</br>
</br>
  <div class=body-body>
      <%= yield %>
  </div>
  </body>
  </font>
</html>
